.dialog {
    .MuiPaper-root{
        background: transparent;
        box-shadow: none;
    }
    &__content {
        background: white;
        border-radius: 0.5em;
        &__link {
            color: $primaryLighten;
            &:hover {
                color: $primaryDarken
            }
        }
    }
}