.section-heading {
    background: white;
    border-radius: $border-radius;
    padding: 2rem;
    display: flex;
    align-items: center;
    @include box-shadow;
    &__title {
        font-size: 21px;
    }
    &__img {
        width: 2rem;
        height: 2rem;
        margin-right: 5px;
    }
    @media screen and (max-width: 768px) {
        padding: 1rem;
        &__title {
            font-size: 18px;
        }
        &__img {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}