.main {
    min-width: 300px; // avoid overflow on flex element
    flex: 1;
    padding: 3em;
    overflow: auto;
    @media screen and (max-width: 768px) {
        padding: 0;
        margin: 3em 1em 8em 1em;
        min-height: 90vh;
    }
}