.main {
    padding: 0;
    margin: 3em 1em 4em 1em;
    @media screen and (min-width: 768px) {
        min-width: 300px; // avoid overflow on flex element
        flex: 1;
        margin: 3em;
    }
}