.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 15vw;
    height: 100vh;
    min-width: 205px;
    padding: 2em 0;
    position: sticky;
    left: 0;
    top: 0;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title {
            margin-bottom: 2em;
            &__point {
                font-size: 2em;
                color: $primaryLighten;
            }
        }
        &__nav {
            display: flex;
            flex-direction: column;
            align-items: center;
            a {
                padding: 0.6em 1em;
                margin: 0.4em;
                background: white;
                position: relative;
                border-radius: 0.5em;
                &:hover {
                    background: $lightDark;
                    transition: background 0.5s ease-in-out;
                }
                &.active {
                    color: $primaryLighten;
                }
            }
        }
        &__company-logo {
            width: 120px;
        }
    }
}