*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label {
    font-weight: 600;
}

ul {
    list-style-type: none ;
}

#root {
    display: flex;
    background: $lightDark;
    min-height: 100vh;
    overflow: auto;
    // max-width: 72rem;
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}