@use "../../../node_modules/react-widgets/scss/styles.scss" with (
  // Most component variables are forwarded with a namespace
  $widget-border-color: $greyLight,
  $widget-border-radius: $border-radius,
  $widget-hover-bg: $primaryLightest,
  $widget-focus-box-shadow: 0 0 0 0,
  $widget-focus-transition: unset,
  $widget-bg: $lightDark,

  $input-border-color: #fff,
  $input-focus-border-color: $primaryDarken,
  $input-box-shadow: 0 0 0 0,
  $input-border-width: 2px,
  $input-height:33px,

  $picker-btn-padding-right: 2px,

  $list-selected-bg: $primary,
);

.rw-popup {
  box-shadow: none;
}

.rw-widget-picker {
  grid-template: 1fr/1fr 3rem;
}